@import "partials/base";
@import "partials/flexslider";
@import "partials/datepicker";
@import "partials/pageone";
@import "partials/pagetwo";
@import "partials/pagethree";

// generic add on style classes
.section {
  margin-top: rhythm(5);
}

.centre-text {
  text-align: center;
}

.centre-element-both {
  @include centre(both);
}

.centre-element-horizontal {
  @include centre(x);
}

.centre-element-vertical {
  @include centre(y);
}

.remove-margins {
  margin: 0 0;
}

.remove-paddings {
  padding: 0 0;
}

.white-text {
  color: #ffffff;
}

.clearfix {
  @include clearfix();
}

.hide-not-xs {
  @include breakpoint($breakpoint-xs) {
    display: none;
  }
}

.hide-gt-md {
  @include breakpoint($breakpoint-md) {
    display: none;
  }
  display: block;
}

.hide-lt-md {
  @include breakpoint($breakpoint-md) {
    display: block;
  }
  display: none;
}

// moderately generic

body {
  overflow: hidden;
}

.full-height-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  overflow: hidden;
}

.pad-bottom {
  padding-bottom: rhythm(7);
}

.pad-top {
  padding-bottom: rhythm(7);
}

.small-pad-bottom {
  padding-bottom: rhythm(2);
}

.small-pad-top {
  padding-bottom: rhythm(2);
}

.tiny-pad-bottom {
  padding-bottom: rhythm(1);
}

.tiny-pad-top {
  padding-bottom: rhythm(1);
}

// very specific main element classes
.jumbo-banner-container {
  @extend .full-height-container;
  @include background-size(cover);
}

.home-link {
  padding: rhythm(2);
}

.header {
  display: block;
  position: fixed;
  height: $header-height;
  width: 100%;
  background-color: $header-color;
  z-index: 150;
  //@include box-shadow(2px 2px 4px #aaa);
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 5px 10px 0px);

  &.first-page {
  }
}

.nav-container {
  margin-left: 40px;
  margin-right: 40px;
}

ul.nav-bar {
  display: table-row;
  list-style-type: none;

  li {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    float: left;
    margin: 0 0;
  }

  li.home {
    margin-right: 170px;
    a {
      font-family: 'print_boldregular' $serif-family;
      font-size: 32px;
      font-weight: bold;
    }

    &.selected {
      background-color: transparent;
      a {
        color: $nav-link-color;
      }
    }
  }

  li.selected {
    background-color: $nav-link-color;
    a {
      color: $header-color;
    }
  }

  li:hover {
    background-color: $li-hover-color;
    a {
      color: $nav-link-selected-color;
    }
  }

  a {
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    color: $nav-link-color;
    font-family: $sans-family;
    font-weight: $font-light;
    font-size: 13px;
  }

  &.left-nav {
    float: left;
  }

  &.right-nav {
    float: right;
    a {
      font-size: 15px;
      padding-left: 9px;
      padding-right: 9px;
    }
  }
}

.header ul.nav-bar.right-nav li {
  padding-right: 12px;
  padding-left: 12px;

  a {
    padding: 0 20px 0 3px;
    border-right: dotted 1px $nav-link-color;

  }

  &:last-child {
    a {
      border: none;
    }
  }
}

.header li {
  line-height: $header-height;
  max-height: $header-height;
}

.footer {
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background-color: $header-color;
  z-index: 100;
  //@include box-shadow(-2px -2px 4px #aaa);
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px -5px 10px 0px);

  &.first-page {
    @include box-shadow(rgba(0, 0, 0, 0.5) 0px -15px 30px 0px);
  }
}

.footer .nav-container {
  margin-left: 10px;
  margin-right: 10px;
}

.footer .nav-container ul.nav-bar {
  li {
    line-height: $footer-height;
    a {
      font-size: 10px;
    }
  }
}

.footer-app-container {
  @include centre("both");
}
