// imports to make life easy
@import 'compass';
@import 'susy';
@import 'breakpoint';
// hard reset all default browser styles
@import "compass/reset";
// import variables (colors, fonts, dimes)
@import "variables";
// import additional custom mixins
@import "mixins";
// import extensible grids
@import "grids";
// import extensible types
@import "typography";


@include establish-baseline;

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0 0;
  font-family: $main-body-font;
  @include adjust-leading-to($leading);
  color: $dark-gray;
}

h1 {
  @include rhythm(7, 0, 0, 2, $h2-size);
  @include adjust-font-size-to($h1-size);
  font-weight: $h1-weight;
  font-family: $main-header-font;

  @include breakpoint(max-width $breakpoint-xs) {
    @include adjust-font-size-to($h1-small-size);
    font-weight: $h1-weight;
    font-family: $main-header-font;
  }
}

h2 {
  @include rhythm(6, 0, 0, 1, $h2-size);
  @include adjust-font-size-to($h2-size);
  font-weight: $h2-weight;
  font-family: $main-header-font;

  @include breakpoint(max-width $breakpoint-xs) {
    @include adjust-font-size-to($h2-small-size);
    font-weight: $h2-weight;
    font-family: $main-header-font;
  }
}

h3 {
  @include rhythm(4, 0, 0, 1, $h3-size);
  @include adjust-font-size-to($h3-size);
  font-weight: $h3-weight;
  font-family: $main-header-font;

  @include breakpoint(max-width $breakpoint-xs) {
    @include adjust-font-size-to($h3-small-size);
    font-weight: $h3-weight;
    font-family: $main-header-font;
  }
}

h4 {
  @include adjust-font-size-to($h4-size);
  font-weight: $h4-weight;
  font-family: $main-header-font;
  color: $light-gray;

  @include breakpoint(max-width $breakpoint-xs) {
    @include adjust-font-size-to($h4-small-size);
    font-weight: $h4-weight;
    font-family: $main-header-font;

  }
}

h5 {
  @include adjust-font-size-to($h5-size);
  font-weight: $h5-weight;
  font-family: $main-header-font;
  color: $dark-gray;
}

h6 {
  @include rhythm(1, 0, 0, 1, $h6-size);
  @include adjust-font-size-to($h6-size);
  font-weight: $h6-weight;
  font-family: $main-body-font;
  color: $gray;
  &.normal-font-weight {
    font-weight: normal;
  }
}

p {
  @include rhythm(0, 0, 0, 3, $base-font-size);
  @include adjust-font-size-to($base-font-size, $leading);
  color: $weather-gray;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

code {
  @include rhythm(0, 0, 0, 3, $base-font-size);
  @include adjust-font-size-to($base-font-size, $leading);
  display: block;
  padding: rhythm(2);
  background-color: $lightest-gray;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  color: $black;
  overflow: scroll;
}

thead {
  th {
    font-weight: bold;
  }
}

th {
  padding-left: rhythm(1);
  padding-right: rhythm(1);
  vertical-align: top;
}

tr {
  vertical-align: top;
}