@import "../partials/base";



.slider {
  width: 100%;
  height: inherit;
}

.slider img {
  min-width: 100%;
  min-height: 100%;
  height: auto;
}

.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(255,255,255, 0.8);
  @include text-shadow(1px 1px 0 rgba(255, 255, 255, 0.3));
  @include transition(all 0.3s ease-in-out);
}

.flex-direction-nav a:before {
  font-family: FontAwesome;
  font-size: 60px;
  display: inline-block;
  content: '\f104';
  color: rgba(255,255,255, 0.8);
  @include text-shadow(1px 1px 0 rgba(255, 255, 255, 0.3));
}
.flex-direction-nav a.flex-next:before {
  content: '\f105';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;

  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

.flex-control-nav {
  display: none;
}

.flexslider .slides li {
  height: inherit;
  overflow: hidden;
}

.flexslider .slides li .flex-caption {
  position: absolute;
  top: 1*$header-height;
  bottom: auto;
  @include centre("x");
  width: 100%;
  @include adjust-font-size-to(28px);
  text-align: center;
  margin: 0;
  padding: 8px 0;
  @include text-shadow(1px 1px 0 rgba(0,0,0, 0.7));
  color: white;
  @include background-image(linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.1) 70%,  rgba(0,0,0,0.05) 80%,transparent));
  background-color: rgba(0,0,0,0);

  height: auto;
}

.flexslider {
  height: inherit !important;

  .flex-viewport {
    height: inherit !important;

    .slides {
      height: inherit !important;
    }
  }
}

.flexslider .slides li {
  position:relative;
  height: inherit !important;
}

.slides-timer {
  width: 600px;
  z-index: 9000;
  bottom: 1*$footer-height;
  height: 33px;
  @include centre("x");
  text-align: center;
  color: white;
  @include adjust-font-size-to(20px);
  @include text-shadow(1px 1px 0 rgba(0,0,0, 0.3));
}

$slide-timer-width: 24%;
.slide-timer {
  float: left;
  width: $slide-timer-width;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 8px;
  //background-color: $lighter-gray;
  border-right: 1px solid $light-gray;
  font-size: 20px;

  &:first-child {
    border-left: 1px solid $light-gray;
    margin-left: (100% - $slide-timer-width*3)/2;
  }
}

.slide-progress {
  background-color: $lighter-gray;
  height: 5px;
  width: 100%;
  border-right: 1px solid green;
}

.slide-progress-active {
  background-color: white;
  width: 0%;
  height: 100%;
}

.working .slide-progress-active {
  background-color: white;
  width: 100%;
  -webkit-transition: width 4.7s linear;
  transition: width 4.7s linear;
}