@import "compass";
@import "variables";

// mixin for centering (parent should be relative)
@mixin centre($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top:50%;
    @include translateY(-50%);
  }
  @if $axis == "x"{
    left:50%;
    @include translateX(-50%);
  }
  @if $axis == "both"{
    top:50%;
    left:50%;
    @include translate(-50%, -50%);
  }
}

@mixin widen-and-center($widen-by) {
  top:50%;
  left:50%;
  margin-left: -$widen-by/2;
  margin-right: -$widen-by/2;
  @include translate(-50%-$widen-by, -50%);
}
