@import "base";


.page-three {
  //background: url(../images/bg.png) no-repeat center center;
  @include background-size(cover);
}

.page-three-item-list {
  padding: 2*$header-height 50px $footer-height 50px;
}

.item-name {
  margin: 0 auto;
  padding: 3px;
  max-width: 100px;
  border-bottom: dotted $lighter-gray 1px;

}

h5.item-name {
  font-weight: 100;
  font-size: 12px;
}

.item-price {
  color: $dark-gray;
  font-family: $sans-family;
  .rupee-symbol {

  }
}

.item-image {
  display: block;
  width: 75%;
  max-width: 250px;
  margin: 0 auto;
}

.product-filter-container {
  position: absolute;
  background-color: $dark-gray;
  width: 100%;
  bottom: $footer-height;
  height: $filter-height;
  z-index: 10;
}



.product-sub-filter-container {
  &.hidden {
    @include transition(all 0.4s ease-out);
    bottom: $footer-height;
  }

  @include box-shadow(-2px -2px 4px #aaa);
  @include transition(all 0.4s ease-out);
  height: $filter-height;
  bottom: $footer-height + $filter-height;
  position: absolute;
  background-color: $header-color;
  width: 100%;
  z-index: 5;
  @include transition(all 0.4s ease-out);
}

.product-filter {
  @include breakpoint($breakpoint-md) {
    width: 16%;
  }

  @include breakpoint($breakpoint-s $breakpoint-md) {
    width: 14%;
  }

  width: 13%;

  float: left;
  position: relative;
  height: 100%;
  border-right: dotted $lightest-gray 1px;

  &:first-child {
    width: 20%;
    border-left: dotted $lightest-gray 1px;
    @include breakpoint($breakpoint-md) {
      margin-left: 1%;
    }
    margin-left: 5%;
  }

  &:last-child {
    width: 14%;
  }

  h5 {
    font-size: 12px;
    white-space: nowrap;
    font-weight: 100;
  }
}

.product-filter-container .product-filter {
  &:hover {
    background-color: rgba(200,200,200,0.6);
    cursor: pointer;

  }

  &.chosen {
    background-color: rgba(200,200,200,0.6);

    .filter-name {
      @include transition(all 0.4s ease-out);
      @include centre("both");
    }

    .filter-value {
      @include transition(all 0.4s ease-out);
      opacity: 0;
    }
  }

}



.product-filter .filter-name {
  @include transition(all 0.4s ease-out);
  position: absolute;
  padding-left: 7%;
  left: 0;

  @include centre("y");
  h5 {
    color: $lightest-gray;
    font-weight: 100;
  }
}

.product-filter .filter-value {
  position: absolute;
  right: 0;
  padding-right: 7%;
  opacity: 1;

  @include transition(all 0.4s ease-out);
  @include centre("y");
  h5 {
     color: $light-gray;
    font-weight: 100;

    span.fa-calendar {
      font-size: 24px;
    }
  }
}

.sub-filter .product-filter .filter-name {

  h5 {
    color: $dark-gray;
    font-weight: 100;
    font-size: 12px;
  }
}

.sub-filter {
  width: 100%;
  height: 100%;

  display: none;

}

.sub-filter.expanded {
  display: block;
}

.bar {
  height: 2px;
  width: 100%;
  @include centre("y");
  background-color: $nav-link-color;
  padding: 2px 0;
  border-right: 1px solid $nav-link-color;
  border-left: 1px solid $nav-link-color;
}