@import "base";

.page-two {
  background: url(../images/bg.png) no-repeat center center;
  @include background-size(cover);
}

.stage-grid {
  height: 100%;
  position: relative;
}

.stage-container {
  @include centre("y");
  width: 100%;
}

.stage-img-container {
  position: relative;
  max-width: 95%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border: groove 1px $lightest-gray;
  @include box-shadow(0px 0px 2px $lightest-gray);
  @include border-radius(50%);
  display: block;
  margin: 20px auto;
}

.stage-img {
  max-width: 100%;
  max-height: 100%;
  @include centre("both");
}

.stage-description-container {
  p {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

p.stage-description {
  font-weight: 100;
  @include adjust-font-size-to(24px);
  color: $dark-gray;
}

p.stage-description-title {
  color: $darker-gray;
  font-family: $sans-family;
  font-weight: 100;
  @include adjust-font-size-to(18px);
}
