@import "base";

.page-one-options {
  @include centre("y");
  margin-left: 150px;
  width: 280px;
  z-index: 50;
}

.page-one-sub-options {
  @include centre("y");
  margin-left: 430px;
  margin-top: 85px;
  z-index: 50;

  .option-container {
    background-color: rgba(0,0,0,0.5);
  }
  opacity: 1;
  @include transition(all 0.4s ease-out);
  &.hidden {
    @include transition(all 0.4s ease-out);
    opacity: 0;
  }
}

.option-container {
  position: relative;
  width: auto;
  padding: 10px;
  color: white;
  font-family: $serif-family;
  @include text-shadow(1px 1px 0 rgba(0,0,0, 0.3));
  background-color: rgba(0,0,0,0.3);

  &.not-last {
    border-bottom: groove 1px rgba(255,255,255,0.5);
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
  }
}

.option-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.location-icon {
  font-size: 24px;
  padding: 14px 18px;
}

.down-menu-icon {
  font-size: 24px !important;
  padding: 18px;
}

.calendar-icon {
  font-size: 16px !important;
  padding: 20px 18px;
  &:hover {
    cursor: pointer;
  }
}

.flexslider .slides img {
  display: block;
}

.flexslider .slides .flex-caption {
  position: absolute;
  width: 96%;
  padding: 2% 2% $footer-height 2%;
  z-index: 1000;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

.page-one-app-container {
  position: absolute;
  bottom: $footer-height;
  right: 0;
  margin-right: $footer-height;
}

.store-link {
  display: block;
  float: left;
  height: 20px;
  img {
    max-width: 60px;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
  }
}