@import "variables";

@font-face {
  font-family: 'Conv_DubielItalic';
  src: url('../fonts/DubielItalic.eot');
  src: local('☺'), url('../fonts/DubielItalic.woff') format('woff'), url('../fonts/DubielItalic.ttf') format('truetype'), url('../fonts/DubielItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_trench100free';
  src: url('../fonts/trench100free.eot');
  src: local('☺'), url('../fonts/trench100free.woff') format('woff'), url('../fonts/trench100free.ttf') format('truetype'), url('../fonts/trench100free.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'print_clearlyregular';
  src: url('../fonts/printclearly-webfont.eot');
  src: url('../fonts/printclearly-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/printclearly-webfont.woff2') format('woff2'),
  url('../fonts/printclearly-webfont.woff') format('woff'),
  url('../fonts/printclearly-webfont.ttf') format('truetype'),
  url('../fonts/printclearly-webfont.svg#print_clearlyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'print_boldregular';
  src: url('../fonts/printbold-webfont.eot');
  src: url('../fonts/printbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/printbold-webfont.woff2') format('woff2'),
  url('../fonts/printbold-webfont.woff') format('woff'),
  url('../fonts/printbold-webfont.ttf') format('truetype'),
  url('../fonts/printbold-webfont.svg#print_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

