
// Compass vertical rhythm settings
$base-font-size: 16px;
$base-line-height: 7px;
$round-to-nearest-half-line: true;
$rhythm-unit: "em";
$leading: 4; // need not be an integer, but we are using it for num of lines
$min-line-padding: 2px;

// Font weight constants
$font-light: 400;
$font-bold: 700;

// Font sizes
$h1-size: 72px;
$h1-small-size: 43px;

$h2-size: 60px;
$h2-small-size: 36px;

$h3-size: 36px;
$h3-small-size: 22px;

$h4-size: 32px;
$h4-small-size: 20px;

$h5-size: 16px;
$h6-size: 13px;
$micro-size: 11px;
$tiny-size: 12px;
$small-size: 14px;


// Font weights
$h1-weight: $font-light;
$h2-weight: $font-bold;
$h3-weight: $font-bold;
$h4-weight: $font-light;
$h5-weight: $font-light;
$h6-weight: $font-bold;

// Font families
$sans-family:  'Montserrat', 'Open Sans', sans-serif;
$serif-family: 'Conv_DubielItalic', 'Bree Serif', serif;


$main-body-font: $serif-family;
$main-header-font: $sans-family;

// Colors
$black: rgb(0,0,0);
$darker-gray: rgba(0,0,0,0.8);
$dark-gray: rgb(51, 51, 51);
$gray: rgba(0,0,0,0.6);
$light-gray: rgb(143, 143, 143);
$lighter-gray: rgba(0,0,0,0.2);
$lightest-gray: rgb(235, 235, 235);
$weather-gray: rgb(113, 110, 95);

$header-color: rgba(255,255,255, 0.9);
$li-hover-color: rgba(51,51,51,0.4);
$nav-link-color: rgb(51,51,51);
$nav-link-hover-color: rgb(10,10,10);
$nav-link-selected-color: rgb(10,10,10);

$main-body-font-color: $weather-gray;

// Layout variables
$post-container-width: 700px;
$wide-container-width: 1020px;

// Breakpoints
$breakpoint-xx: 1068px;
$breakpoint-md: 1200px;
$breakpoint-s : 992px;
$breakpoint-xs: 768px;

// Margins and paddings (in multiples of line height)
$small-margin: 2;
$medium-margin: 5;
$large-margin: 10;
$small-padding: 2;
$medium-padding: 5;
$large-padding: 10;

// Dimens
$header-height: 60px;
$footer-height: 33px;
$filter-height: 48px;

